:root{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    height: 100%;
    width: 100vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    padding: 0.4rem 4rem;
    align-items: center;
    box-shadow: 0px 10px 50px rgb(8, 40, 133);
}
.nav img{
    width: 65px;
    border-radius: 60px;
    box-shadow: 4px -5px 3px #f4f4f4;
}
.navlist{
    display: flex;
    gap: 1rem;
    padding: 1rem 0rem;
    justify-content: center;

}
.navlist a{
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 200;
}
.navlist a:hover{
    
    color: azure;
}
ul{
    list-style: none;
}

.welcome{
    font-size: 1.7rem;
    text-shadow: 1px 1px 2px #da1e90;
    padding: 4.5rem 1.5rem;
    text-align: center;
}
.knowledge{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5rem 0.5rem;
    color: black;
    text-shadow: 1px 1px 2px rgb(167, 167, 168);
}
.search{
    font-size: 1rem;
    background-color: #f4f4f4;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    border-radius: 10px;
}
.search input{
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
    border:none;
}
.search input:focus{
    outline: solid 1px black;
    outline-offset: 0;
}
@media (max-width:300px) {
    .search{
        gap: 1rem;
        font-size: 0.9rem;
    }
    .search input{
        padding: 0.3rem;
    }
}
#home{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
}
.bookstoreimg{
    padding: 0.4rem 0.5rem;
    position: relative;
    text-align: center;
}
.bookstoreimg img{
    width: 400px;
    box-shadow: 0 0 3.5px black;
    border-radius: 10px;
    
}
.textimg{
    position: absolute;
    bottom: 17px;
    left: 152px;
    color: white;
    font-size: 1.3rem;
    text-shadow: 2px 0 17px #000;
}
@media (max-width:500px) {
    #home{
        flex-direction: column;
    }
    .bookstoreimg img{
        width: 200px;
    }
    .welcome{
        font-size: 1rem;
        text-shadow: 1px 1px 2px #5b0202;
    }
    .nav{
        flex-direction: column;
    }
    .nav img{
        width: 40px;
    }
    .navlist{
        padding: 0.35rem 0;
    }
    .navlist a{
        color: white;
        font-size: 1.1rem;
    }
    .navlist a:hover{
        color: black;
    }
    .container{
        gap: 3.5rem;
    }
}
@media (max-width:870px) {
    
    .bookstoreimg img{
        width: 220px;
    }
    .knowledge{
        font-size: 1.7rem;
    }
    .textimg{
        font-size: 0.8rem;
        left: 84px;
    }
}
.review{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.review h2{
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px aliceblue;
    color: black;
    padding: 1.5rem;
}
.reviewbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.reviewcontainer{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 28%;
    height: 300px; 
    margin: 1rem;  
    box-shadow: 0 0 5px #32035d;
    border-radius: 10px;
    color: black;
    display: flex;   
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem 1rem;
}
.checked{
    color: rgb(255, 191, 0);
}
.starimg{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.starimg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dot{
    width: 13px;
    height: 13px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 0.3rem;
    margin: 0.3rem;
}

#bestsell{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#bestsell h2{
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px aliceblue;
    color: black;
    padding: 1.5rem;
}
.imgsell{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.imgs{
    position: relative;
    width: 14%;
    margin: 1.5rem 0;
}

.imgs img{
    width: 100%;
    height: 180px;
    filter: blur(1px);
    border: 0.5px solid black;
    box-shadow: 0 5 3px black;
}
.imgwrite{
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    background-color: rgb(204, 175, 248);
    padding:0.1rem 0.2rem;
}
.above{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 60%;
    text-align: center;
    color: black;
    padding: 0.5rem 1rem;
    background-image: linear-gradient( 83.2deg, rgb(157, 110, 228) 10.8%, rgb(110, 101, 234) 94.3% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    cursor: default;
}
.above h4{
    font-weight: bold;
}
#products{
    width: 60%;
    margin:2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px black;  
    margin-bottom: 5rem;
}
#products img{
    width: 50%;
    height: 315px;
    object-fit: contain;
    filter: drop-shadow(0 0 3px white);
}
.productcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    color: black;
    align-items: center;
    width: 50%;
    padding: 0.5rem;
}
.productcontainer h1{
    font-size: 3rem;
    text-shadow: 1px 1px 2px whitesmoke;
}
.productcontainer h4{
    font-size: 1.2rem;
    font-weight: lighter;
}
.productcontainer a{
    text-decoration: none;
    width: fit-content;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    font-size: 1.2rem;
    transition: all ease 0.5s;
}
.productcontainer i{
    font-size: 18px;
    color: black;
}
.productcontainer a:hover{
    background-color: black;
    color: aliceblue;
}
.productcontainer a:hover i{
    color: aliceblue;
}