*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    height: 100%;
    width: 100vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}
.nav{
    display: flex;
    justify-content: space-between;

    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    padding: 0.5rem 1.6rem;
    align-items: center;
}
.nav img{
    width: 90px;
    border-radius: 20px;
}
.navlist{
    display: flex;
    gap: 1rem;
    padding: 1rem 0rem;
    justify-content: center;

}
.navlist a{
    color: azure;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 200;
}
.navlist a:hover{
    color: black;
}
ul{
    list-style: none;
}
#catalog{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
#catalog h2{
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px aliceblue;
    color: black;
    padding-top: 1.5rem;
}
#img{
    width: 62%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0rem;
}
#img img{
    width: 245px;
    margin: 0.5rem;
    box-shadow: 0px 0px 4px black;
}
.welcome{
    font-size: 1.7rem;
    text-shadow: 1px 1px 2px whitesmoke;
    padding: 0rem 0.8rem;
    text-align: center;
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgb(244, 76, 126) 0%, rgb(247, 61, 86) 30.5%, rgb(241, 86, 51) 56.1%, rgb(251, 112, 52) 75.6%, rgb(242, 120, 39) 100.2% );

}
.knowledge{
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
    color: black;
    text-shadow: 1px 1px 2px rgb(167, 167, 168);
}
#home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.bookstoreimg img{
    width: 400px;
    box-shadow: 0 0 3.5px black;
    border-radius: 10px;
}